
{% from 'macros.html' import rightSidebar %}
{% from 'macros.html' import leftSidebar %}
{% from 'macros.html' import pageTheme %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page </title>
    <link rel="stylesheet" href="/static/css/hoved.css">
</head>
<style>


</style>

<body {{ pageTheme(user) }}>
    <!-- To do!
    Nettsiden skal ha konstant bredde hvis bredden på skjermen er større en 1200 px 
    .container gjør dette for oss
    vi skal dele opp .container i en venstre- og høyrekolonne der høyrekolonne tar størst plass
    venstrekolonne vil bli delt opp i 2 deler den ene er logo + meny. den andre delen er bruker sin profil
    Høyre kolonne vil bli delt opp i 2 deler den ene er størst og vil ligge mer mot midten av siden vi kaller denne Midtkolonne. den andre delen vil fungere som en sidebar hvor man kan søke etter bruker og kunen følge tilfeldige bruker som er valgt av programmet 
    Midtkolonnen vil bli delt opp i 2 deler overskift/tabs og den andre delen vil være en feed. -->



    <div class="container">
        <div class="hovedflex">
            {{ leftSidebar(user, "home") }}
            <div id="hoyrekolonne">
                <div id="midtkolonne">
                    <div id="overskrift">
                        <div id="overskrifttekst">Home</div>
                        <div id="overskrifttabs">
                            <button onclick="showFollowingPosts();" id="overskriftfollowing" class="overskriftknapp hiddenButton">
                                <div>
                                    Following
                                    <div id="followingLine" class="line"></div>
                                </div>
                            </button>
                            <button onclick="showAllPosts();" id="overskriftall" class="overskriftknapp hiddenButton">
                                <div>
                                    All
                                    <div id="allLine" class="line" style="display: none;"></div>
                                </div>
                            </button>
                        </div>
                    </div>
                    <div id="feed">
                        <div id="followingFeed">
                            {% for post in followingPosts %}
                                <div class="tweet" onclick="location.href='/viewpost/{{ post['id'] }}';" style="cursor: pointer;">
                                    <div class="profilbildekolonne">
                                        <a href="/viewprofile/{{ post['user']['username'] }}">
                                            <img class="profilbilde"
                                                src="/static/userpics/{{ post['user']['profileImage'] }}"
                                                alt="pfp" height="50" width="50">
                                        </a>
                                    </div>
                                    <div class="tweetkolonne">
                                        <div class="forfatterinfo">
                                            <div>{{ post['user']['name'] }}</div>
                                            <div>{{ post['user']['username'] }}</div>
                                            <div>{{ post['timeSincePosted'] }}</div>
                                        </div>
                                        <div class="tweettekst">
                                            {{ post['content'] }}
                                        </div>
                                        <!-- <img src="https://cdn.discordapp.com/attachments/1095708777027739668/1096797766228918313/IT_logo.png" alt="tweet image" class="tweetbilde"> -->

                                        <div class="tweetknapper">

                                            <a href="/viewpost/{{ post['id'] }}" title="trykk for å legge til en kommentar"
                                                class="tweetknappkommentar tweetknapp genericButton hiddenButton">
                                                <span title="10000">{{ post['comments']|length }}</span>
                                                <img src="/static/bilder/comment_hul.png" height="20" alt="Kommentarer">
                                            </a>

                                            <button title="trykk for å retweete"
                                                class="tweetknappretweet tweetknapp genericButton hiddenButton">
                                                <span title="10000">{{ post['retweets'] }}</span>
                                                <img src="/static/bilder/retweet_hul.png" height="20" alt="Retweets">

                                            </button>

                                            <form action="/toggleLike" method="POST" target="invisibleIframe">
                                                <button onclick="toggleHeart(this);" title="trykk for å like"
                                                    class="tweetknapplikes tweetknapp genericButton hiddenButton">
                                                    <span title="10000">{{ post['likes'] }}</span>
                                                    {% if post['id'] in user["likedPosts"] %}
                                                        <img src="/static/bilder/heart.png" height="20" alt="Likes">
                                                    {% else %}
                                                        <img src="/static/bilder/heart_hul.png" height="20" alt="Likes">
                                                    {% endif %}
                                                </button>
                                                <input type="hidden" name="postID" value="{{ post['id'] }}">
                                            </form>

                                            <button title="Views" class="tweetknappviews tweetknapp genericButton hidden">
                                                <span title="10000">{{ post['views'] }}</span>
                                                <img src="/static/bilder/eye_hul.png" height="30" alt="Views">

                                            </button>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <div id="allFeed" style="display: none;">
                            {% for post in allPosts %}
                                <div class="tweet" onclick="location.href='/viewpost/{{ post['id'] }}';" style="cursor: pointer;">
                                    <div class="profilbildekolonne">
                                        <a href="/viewprofile/{{ post['user']['username'] }}">
                                            <img class="profilbilde"
                                                src="/static/userpics/{{ post['user']['profileImage'] }}"
                                                alt="pfp" height="50" width="50">
                                        </a>
                                    </div>
                                    <div class="tweetkolonne">
                                        <div class="forfatterinfo">
                                            <div>{{ post['user']['name'] }}</div>
                                            <div>{{ post['user']['username'] }}</div>
                                            <div>{{ post['timeSincePosted'] }}</div>
                                        </div>
                                        <div class="tweettekst">
                                            {{ post['content'] }}
                                        </div>
                                        <!-- <img src="https://cdn.discordapp.com/attachments/1095708777027739668/1096797766228918313/IT_logo.png" alt="tweet image" class="tweetbilde"> -->

                                        <div class="tweetknapper">

                                            <a href="/viewpost/{{ post['id'] }}" title="trykk for å legge til en kommentar"
                                                class="tweetknappkommentar tweetknapp genericButton hiddenButton">
                                                <span title="10000">{{ post['comments']|length }}</span>
                                                <img src="/static/bilder/comment_hul.png" height="20" alt="Kommentarer">
                                            </a>

                                            <button title="trykk for å retweete"
                                                class="tweetknappretweet tweetknapp genericButton hiddenButton">
                                                <span title="10000">{{ post['retweets'] }}</span>
                                                <img src="/static/bilder/retweet_hul.png" height="20" alt="Retweets">

                                            </button>

                                            <form action="/toggleLike" method="POST" target="invisibleIframe">
                                                <button onclick="toggleHeart(this);" title="trykk for å like"
                                                    class="tweetknapplikes tweetknapp genericButton hiddenButton">
                                                    <span title="10000">{{ post['likes'] }}</span>
                                                    {% if post['id'] in user["likedPosts"] %}
                                                        <img src="/static/bilder/heart.png" height="20" alt="Likes">
                                                    {% else %}
                                                        <img src="/static/bilder/heart_hul.png" height="20" alt="Likes">
                                                    {% endif %}
                                                </button>
                                                <input type="hidden" name="postID" value="{{ post['id'] }}">
                                            </form>

                                            <button title="Views" class="tweetknappviews tweetknapp genericButton hidden">
                                                <span title="10000">{{ post['views'] }}</span>
                                                <img src="/static/bilder/eye_hul.png" height="30" alt="Views">

                                            </button>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>
                {{ rightSidebar(whotofollow) }}

            </div>

        </div>
        

    </div>



    <iframe style="display: none;" name="invisibleIframe"></iframe>
</body>

<script src="/static/javascript/lib.js"></script>
<script src="/static/javascript/leftSidebar.js"></script>
<script src="/static/javascript/rightSidebar.js"></script>

<script>

    function showFollowingPosts() {
        followingFeed = document.querySelector("#followingFeed");
        followingLine = document.querySelector("#followingLine");

        allFeed = document.querySelector("#allFeed");
        allLine = document.querySelector("#allLine");

        followingFeed.style.display = "block";
        followingLine.style.display = "block";

        allFeed.style.display = "none";
        allLine.style.display = "none";
    }

    function showAllPosts() {
        followingFeed = document.querySelector("#followingFeed");
        followingLine = document.querySelector("#followingLine");

        allFeed = document.querySelector("#allFeed");
        allLine = document.querySelector("#allLine");

        followingFeed.style.display = "none";
        followingLine.style.display = "none";

        allFeed.style.display = "block";
        allLine.style.display = "block";
    }

</script>

</html>
